body {
    background: url(/img/bg.png);
}

.container {
    width: 100%;
}

.navbar {
    background-color: #529dc9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5da4cd), to(#529dc9));
    background-image: -webkit-linear-gradient(top, #5da4cd, #529dc9);
    background-image: -moz-linear-gradient(top, #5da4cd, #529dc9);
    background-image: -ms-linear-gradient(top, #5da4cd, #529dc9);
    background-image: -o-linear-gradient(top, #5da4cd, #529dc9);
    background-image: linear-gradient(top, #5da4cd, #529dc9);
    vertical-align: middle;
    padding: 0;
    line-height: 50px;
    margin-bottom: 0;

    border: 1px solid #398ab9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-brand, .navbar-brand:hover {
    color: #FFF;
}

.navbar-collapse {
    padding: 0;
}

@media (max-width:767px) {
    .navbar-collapse {
        padding: 0 12px;
        background: #357ea9;
        margin-right: -1px !important;
        margin-left: -1px !important;
    }
}

.navbar-nav > li > a {
    padding: 14px;
    color: white;
    font-size: 14px;
}

.navbar-nav > li > a:hover {
    background-color: #daeaf4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#edf5fa), to(#daeaf4));
    background-image: -webkit-linear-gradient(top, #edf5fa, #daeaf4);
    background-image: -moz-linear-gradient(top, #edf5fa, #daeaf4);
    background-image: -ms-linear-gradient(top, #edf5fa, #daeaf4);
    background-image: -o-linear-gradient(top, #edf5fa, #daeaf4);
    background-image: linear-gradient(top, #edf5fa, #daeaf4);
    color: #31759e;
}

.navbar-nav > .active {
    background-color: #4697c6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2d6d92), to(#4697c6));
    background-image: -webkit-linear-gradient(top, #2d6d92, #4697c6);
    background-image: -moz-linear-gradient(top, #2d6d92, #4697c6);
    background-image: -ms-linear-gradient(top, #2d6d92, #4697c6);
    background-image: -o-linear-gradient(top, #2d6d92, #4697c6);
    background-image: linear-gradient(top, #2d6d92, #4697c6);
}

.navbar-nav > .active a {
    color: white;
}

.navbar-toggle {
    background: #357ea9;
}

.navbar-toggle .icon-bar {
    background: white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #357ea9;
    color: white;
}

.nav .caret {
    border-top-color: #edf5fa;
    border-bottom-color: #edf5fa;
}

.nav a:hover .caret {
    border-top-color: #a0c9e1;
    border-bottom-color: #a0c9e1;
}

.navbar-nav .dropdown-menu .divider {
    background-color: #398ab9;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #A2A2A2;
}

@media (min-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0;
    border-right: 1px solid #4C90BD;
    border-left: 1px solid #5FA9DA;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}


.top-bar {
    margin: 0px 0 10px 0;
    vertical-align: middle;
    min-height: 50px;
    border-radius: 0px 4px 4px 4px;
}

.top-bar .navbar {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border-top: 0px;
}

/* the server <select> and control buttons in the top-bar */
#serverQuickControl {
    padding: 0 20px;
}

#serverQuickControl select {
    padding: 5px;
}

#serverQuickControlOptions {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

#serverQuickControlOptions li {
    float: left;
    height: 29px;
    padding-left: 10px;
    cursor: pointer;
}

#serverQuickControlOptions li i {
    border-radius: 2px;
    font-size: 11px;
    top: -2px;
}

#menu {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

#maincontent {
    padding: 10px 0 0 0;
}

#footer {
    width: 100%;
    text-align: center;
    color: #B6B6B6;
}

#systemResourceInformation p {
    margin-bottom: 4px;
}

#cpuGauge, #memoryGauge {
    width:160px;
    height:130px;
    display: inline-block;
}